<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BF01F9F1C19132900467AE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF01FB81C19132A00467AE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF01FC31C19132A00467AE3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
